.sbParentBox{
    /* background-color: red; */
   
}

.FlightrowBox{
    /* border:1px solid #000; */
    display: flex;
    justify-content: center;
    margin-left: -2rem;

    gap: 16px;
}
.FlightcolBox{
    /* border:1px solid #000; */
    width: 15rem;
    height: 15rem;
    padding: auto;
    margin-left: 50px;
    background-color: #fff;
    box-shadow: -2px 3px 7px 1px #0095FF;

}
.titleImage{
    display: flex;
    justify-content:space-evenly;
    padding: 20px;
}
.titleImage p{
    font-size: 15px;
    width: 110px;
}
.price{
    display: flex;
    font-size: 30px;
    font-weight: bold;
    color: #0043A4;
    padding: 20px;
    margin-left: 1rem;
}
.textArrow{
    display: flex;
    justify-content:space-evenly;
    padding: 0;
}
.textArrow p{
    color: #707070;
    font-size: 11px;
    width: 110px;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 425px) {
  /* Styles */
  .FlightcolBox{
    /* border:1px solid #000; */
    
    border: 1px solid #000;
    width: 12rem;
    height: 14rem;
    margin-left: 80px;}

}