.parentBox{
    background-color: #075c0e;
    color: #ffffff;
    display: flex;
    justify-content: center;
    height: 100px;
    margin: 0 auto;
    padding: 10px 10px;
}
.parentBox p{
    padding: 10px;
}

@media only screen  and (min-width : 320px)  and (max-width: 425px) {
    
.parentBox p{
    font-size: 10px
}

}