.parentDiv{
    /* background-color: blue; */
    
    height: 300px;
    width: 700px;
    display: flex;
    margin: 10px 550px;

  
    
   
}
.contentDiv{
    background-color: #26D466;
    display: flex;
    width: 70%;
    height: 300px;
    padding: 10px;
    border-radius: 20px;
    justify-content: center;
    margin-top: 100px;
    justify-content: center;
   
    
}

/* form {
    display: flex;
    
    flex-direction:column;
    gap: 20px;
} */
form label{
    display: flex;
    margin-top: 20px;
    flex-direction:column;
    width: 400px;
   
   
}
input{
    width: 400px;
    border: 1px solid wheat;
    height: 50px;
    border-radius: 10px;
   
}
.btn{
    margin-top: 20px;
   
}

.btn a{
    border: 1px solid black;
    width: 100px;
    height: 30px;
    padding: 5px;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    background-color: green;
    text-decoration: none;
}