.sideNavBox{
    display: "block";
    width: 300px;
    padding-left:0;
    height: 100vh;
    /* border: 1px solid red; */
    /* background-color: red; */
}
.side{
    /* background-color:#32ca76 !important; */
}
.allNav{
    border: 1px solid red;
    line-height: 20px;
    
    /* background-color: #32ca76 !important; */


}